<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>505632467656-ndfg95a4iqnar6ahqh7r841085s39aoa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.505632467656-ndfg95a4iqnar6ahqh7r841085s39aoa</string>
	<key>API_KEY</key>
	<string>AIzaSyB6aHf3WlVL9gtQP83WFJfifjRM2jkiljQ</string>
	<key>GCM_SENDER_ID</key>
	<string>505632467656</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.school21.myfirstapp</string>
	<key>PROJECT_ID</key>
	<string>myfirstproject-1d010</string>
	<key>STORAGE_BUCKET</key>
	<string>myfirstproject-1d010.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:505632467656:ios:4e8b974a073fc27d9953fd</string>
</dict>
</plist>